<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-row>
              <ion-col col-3>
                   <div *ngIf='userReady'><img [src]="user.picture" class="pic_user"></div>
                   <div *ngIf='!userReady'><img class="pic_user" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTycewbr9Y9lN7Qn1Yl5e9CHBbleZpUMjqD23wcfOp5FKbhNMeUSg" class="pic_user"></div>
                   </ion-col>
              <ion-col col-9>
                  <div *ngIf='userReady' class="name_user"><h3>{{user.name}}</h3></div>
                  <div *ngIf='!userReady' class="name_user"><h3>Suvojit Raj Kar</h3></div>
                  <p class="nav-brand name_user">Apartment</p>
              </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="icons" name="{{p.icon}}"></ion-icon>{{p.title}}
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="right_float" showWhen="android"></ion-icon>
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon class="icons" name="arrow-round-back"></ion-icon>logout
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="right_float" showWhen="android"></ion-icon>
      </button>
      <button menuClose ion-item class="contact_us">Contact us | More</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>